version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: url_pg
    restart: always
    environment:
      POSTGRES_DB: urlshortener
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: url_redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

  app:
    build: .
    container_name: url_app
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"
    restart: always

volumes:
  pg_data:
